# APSC1001 - CS1010 Assignment 3
### Instructor: 
**Dr. Kartik Bulusu [MAE]**

#### Teaching Assistants: 
**Sara Tenaglio [BME], Catherine Karpova [BME]**

#### Learning Assistants: 
**Ethan Frink [MAE], Alexis Renderos [MAE], Olivia Legault [CS], Jon Terry [CS], Jack Umina [CS]**

In [ ]:
#Please use 'Shift+Enter' to execute this cell
import numpy as np
import pandas as pd
from matplotlib import pyplot as plt

Put your team's names in the below cell inside the quotation marks!

In [ ]:
#Your names go here!
name1 = ''
name2 = ''
name3 = ''
name4 = ''

print('Group member 1 is named ' + name1)
print('Group member 2 is named ' + name2)
print('Group member 3 is named ' + name3)

if name4 != '':
    print('Group member 4 is named ' + name4)

Group member 1 is named
Group member 2 is named
Group member 3 is named

## Question 1.

We have provided a homework csv file in the Week3 folder named `HW3.csv`, pull this data into a dataframe called `my_df` and display that dataframe

**Hint:** use `pd.read_csv()` with an appropriate filename!

In [ ]:
#student's path should be '/work/Week3/HW3.csv'
my_df = pd.read_csv('/work/Fall 2021/for_students/Week3/HW3.csv')
display(my_df)

     Name        Date     Food  Number
0    John   10/3/2021   Apples     5.0
1    John   10/4/2021  Oranges     4.0
2    John   10/5/2021   Apples     3.0
3    John   10/6/2021   Apples     6.0
4    John   10/7/2021   Apples     5.0
5    John   10/8/2021      NaN     NaN
6    John   10/9/2021      NaN     NaN
7    John  10/10/2021      NaN     NaN
8   James   10/3/2021  Oranges     8.0
9   James   10/4/2021   Apples     1.0
10  James   10/5/2021  Oranges     2.0
11  James   10/6/2021   Apples     3.0
12  James   10/7/2021  Oranges     5.0
13  James   10/8/2021      NaN     NaN
14  James   10/9/2021      NaN     NaN
15  Wendy   10/3/2021  Bananas     7.0
16  Wendy   10/4/2021      NaN     NaN
17  Wendy   10/5/2021  Bananas     2.0
18  Wendy   10/6/2021  Bananas     4.0

## Question 2. 

Drop the rows contain nan values from the frame using `my_df.dropna(axis=0)` and save the result to a frame called `my_df_new`. Display the first 7 lines of the frame using `.head()`

In [ ]:
my_df_new = my_df.dropna(axis=0)
my_df_new.head(7)

    Name       Date     Food  Number
0   John  10/3/2021   Apples     5.0
1   John  10/4/2021  Oranges     4.0
2   John  10/5/2021   Apples     3.0
3   John  10/6/2021   Apples     6.0
4   John  10/7/2021   Apples     5.0
8  James  10/3/2021  Oranges     8.0
9  James  10/4/2021   Apples     1.0

## Question 3. 

We want to get the total number of each food eaten by all people. To do this we will use `groupby` and `sum`. Our column of importance is going to be `'Food'`

**Explore the pandas functions** `.groupby()` **function and the** `.sum()` **function.**

These were not covered in the demonstration but it will be in your guided project. If you want reference material for them, we have linked the documentation! [Click for groupby](https://pandas.pydata.org/docs/reference/api/pandas.DataFrame.groupby.html) and [Click for sum](https://pandas.pydata.org/docs/reference/api/pandas.DataFrame.sum.html)

Alternatively, use our new best friend the `help()` function to try and figure out how they work! If you still have questions, there are plenty of resources available, such as office hours provided by members of the teaching team!

Remember you can always use `display()` to showcase a dataframe

To groupby the food names use `my_df_new.groupby('column name')` and save this result to `x`. Then use `x.sum()` to store the value in a variable named `total_fruits` and display the result. 

Here's a pseudo-code for what we are looking for:

```
x = YOUR_DATAFRAME.groupby(COLUMN_NAME)
RESULT = x.sum()
display(RESULT)
```

In [ ]:
x = my_df_new.groupby('Food')
total_fruits = x.sum()
display(total_fruits)

         Number
Food
Apples     23.0
Bananas    13.0
Oranges    19.0

## Question 4. 

Update the number of apples in your new dataframe named `total_fruits` to the value 27 using `df.loc[slicing] = value`

Then display the updated dataframe

In [ ]:
total_fruits.loc['Apples', 'Number'] = 27
display(total_fruits)

         Number
Food
Apples     27.0
Bananas    13.0
Oranges    19.0

## Congrats!!
 You completed your 3rd Python Assignment in APSC 1001/CS 1010! Give yourself a round of applause!!

<a style='text-decoration:none;line-height:16px;display:flex;color:#5B5B62;padding:10px;justify-content:end;' href='https://deepnote.com?utm_source=created-in-deepnote-cell&projectId=928a4826-6d7d-44bd-b128-d6cd83127a49' target="_blank">
<img alt='Created in deepnote.com' style='display:inline;max-height:16px;margin:0px;margin-right:7.5px;' src='' > </img>
Created in <span style='font-weight:600;margin-left:4px;'>Deepnote</span></a>